name: Reusable Spack CI

on:
  workflow_call:
    inputs:
      coverage:
        description: "Enable C++ coverage"
        required: false
        default: false
        type: boolean

env:
  QT_QPA_PLATFORM: offscreen

jobs:
  main:
    name: Main job
    # The CMake configure and build commands are platform agnostic
    # and should work equally well on Linux, Windows or Mac.
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lihpc-computational-geometry/spack-cgcore:latest

    steps:
      # Initialize Spack environment (Spack and recipes are in the container)
      - name: Initialize environment
        shell: bash
        run : |
          source /spack/share/spack/setup-env.sh
          spack external find cmake
          spack compiler list
          spack compiler info gcc
          cd /spack_recipes && git pull
          spack repo add /spack_recipes/meshing
          spack repo add /spack_recipes/meshing_supersede

      # Checkout project source files
      - name: Checkout sources
        uses: actions/checkout@v4

      # Set coverage flags (if coverage)
      - name: Enable C++ coverage flags
        if: inputs.coverage == true
        run: |
          echo "SPACK_CFLAGS=--coverage" >> $GITHUB_ENV
          echo "SPACK_CXXFLAGS=--coverage" >> $GITHUB_ENV
          echo "SPACK_LDFLAGS=--coverage" >> $GITHUB_ENV

      # lcov installation (if coverage)
      - name: Install lcov
        if: inputs.coverage == true
        run: |
          apt-get update
          apt-get install -y lcov
      
      # Build the current sources, run unit tests and install
      - name: Build and install
        shell: bash
        run: |
          source /spack/share/spack/setup-env.sh
          spack env create ci-env
          spack env activate ci-env
          # ${{ github.event.repository.name }} represents the name of the project
          spack add ${{ github.event.repository.name }}
          spack add python@3
          spack add py-pytest
          # Must set a version number > last version to take right variants in recipes
          export version_number=`spack info ${{ github.event.repository.name }} | grep -A 1 "Preferred version:" | tail -n 1 | awk {'print $1'}`
          echo $version_number
          spack develop -p $GITHUB_WORKSPACE --no-clone ${{ github.event.repository.name }}@$version_number
          spack concretize --reuse
          spack install -v --test=root

      # Build and run the test_link directory to check install
      - name: Build and run test_link
        shell: bash
        run: |
          source /spack/share/spack/setup-env.sh
          # load the environment
          spack env activate ci-env
          spack load python
          spack load py-pytest
          export version_number=`spack info ${{ github.event.repository.name }} | grep -A 1 "Preferred version:" | tail -n 1 | awk {'print $1'}`
          spack load ${{ github.event.repository.name }}@$version_number

          # trace for logs
          python --version
          command -v python
          pytest --version
          command -v pytest
          echo $PYTHONPATH

          # set PYTHONPATH variable
          export PACKAGE_PATH=$PACKAGE_PATH/lib/python3.11/site-packages
          export PYTHONPATH=$PYTHONPATH:$PACKAGE_PATH
          echo $PYTHONPATH

          # build test_link and run tests
          cd test_link/
          git clone --recurse-submodules https://github.com/LIHPC-Computational-Geometry/magix3d_test_data_dir.git
          export MAGIX3D_TEST_DATA_DIR=$PWD/magix3d_test_data_dir
          cmake -S . -B build
          cmake --build build
          cmake --build build --target test

      - name: Archive test_link logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-of-link-logs
          path: ${{ github.workspace }}/test_link/build/Testing/Temporary/LastTest.log

      - name: Capture C++ coverage
        if: inputs.coverage == true
        run: |
          lcov --capture --directory . --output-file coverage.info
          lcov --extract coverage.info "$GITHUB_WORKSPACE/*" --output-file coverage.info
          lcov --remove coverage.info '/usr/*' '*/spack/*' --output-file coverage.info
          genhtml coverage.info --output-directory coverage-html

      - name: Upload C++ coverage report
        if: inputs.coverage == true
        uses: actions/upload-artifact@v4
        with:
          name: cpp-coverage-report
          path: coverage-html
          retention-days: 3
